<h1> Edit category </h1>
<% if @category.errors.any? %>
<h3> Error </h3>
  <ul>
  <% @category.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with(model: @category, local: true) do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Edit", :class=> "btn btn-danger"%>
  </p>

<% end %>