<h1> Create new store </h1>
<% if @product.errors.any? %>
<h3> Error </h3>
  <ul>
  <% @product.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with scope: :product, url: products_path, local: true do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
   <p>
    <%= f.label :price %><br/>
    <%= f.text_field :price%>
  </p>

  <p>
    <%= f.submit "Create", :class=> "btn btn-danger" %>
  </p>

<% end %>